@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LOT';
  src: url('/fonts/LOT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --background: 153 57% 99%;
    --foreground: 153 55% 5%;
    --muted: 123 15% 88%;
    --muted-foreground: 123 12% 28%;
    --popover: 153 57% 99%;
    --popover-foreground: 153 55% 5%;
    --card: 153 57% 99%;
    --card-foreground: 153 55% 5%;
    --border: 153 12% 91%;
    --input: 153 12% 91%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 21 97% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 9%;
    --chart-1: 153 69% 41%;
    --chart-2: 123 69% 41%;
    --chart-3: 183 69% 41%;
    --chart-4: 123 69% 44%;
    --chart-5: 153 72% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10.98%;
    --foreground: 153 33% 99%;
    --muted: 123 0% 18%;
    --muted-foreground: 123 12% 72%;
    --popover: 0 0% 12%;
    --popover-foreground: 153 33% 99%;
    --card: 0 0% 12%;
    --card-foreground: 153 33% 99%;
    --border: 153 12% 22%;
    --input: 153 12% 22%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 24%;
    --accent-foreground: 0 0% 98%;
    --destructive: 360 97% 54%;
    --destructive-foreground: 0 0% 98.89%;
    --ring: 0 0% 98%;
    --chart-1: 150.61 47.12% 40.78%;
    --chart-2: 0 0% 21.03%;
    --chart-3: 132.72 38.05% 47.42%;
    --chart-4: 0 0% 24.03%;
    --chart-5: 150.61 50.12% 40.78%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-out forwards;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulseBar {
  0% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1.2);
  }
}
